---
import links from '../link-items.json';

import Layout from '../layouts/Layout.astro';

import Carousel from '../components/Carousel.astro';
import FullscreenButton from '../components/FullscreenButton.astro';
---

<Layout title="Raphchan Life">
  <main>
    <nav class="main-nav">
      <h1>Welcome to <span class="text-gradient">TeleHub.tv</span></h1>
      <FullscreenButton text={"Open in Fullscreen"}/>
    </nav>

    <div class="carousels">
      {links.data.map(entry =>
        <section class="carousel-wrapper">
          <Carousel title={entry.category} items={entry.items} />
        </section>
      )}
    </div>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 80vw;
    background-color: #F6F6F6;
  }

  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }

  .carousels {
    margin-top: 3em;
  }

  .carousel-wrapper:not(:last-child) {
    margin-bottom: 3em;
  }

  .main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
</style>
