---
import Card, { Props as CardProps } from './Card.astro';

interface Props {
  title: string;
  items?: CardProps[]
}

const { title, items } = Astro.props;
const cardItemMarginStyle = "margin-right: 1em";
---

<div>
  <h2 class="title">{title}</h2>
  <div class="carousel">
    <ul role="list" class="link-card-grid">
      {items?.map((item, idx) => (
        <Card
          link={item.link}
          image={item.image}
          style={idx !== items.length - 1 ? cardItemMarginStyle : undefined}
        />
       ))}
    </ul>
  </div>
</div>

<style>
  .carousel {
    overflow-y: scroll;
  }

  .title {
    font-weight: bold;
    margin-bottom: .8em;
  }

  .link-card-grid {
    display: inline-flex;
  }
</style>
